<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GARBAGE.Properties.Settings.ConnectionStrings" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=MYDB;&#xA;Integrated Security=True; Connect Timeout=30; Encrypt=False;&#xA;TrustServerCertificate=False; ApplicationIntent=ReadWrite;&#xA;MultiSubnetFailover=False" />
    </connectionStrings>
</configuration>